.nav {
  position: fixed;
  left: $largeSpacing;
  top: $largeSpacing;
  overflow-y: auto;
}

.pageTitle {
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

.section {
  font-weight: 300;
  margin-bottom: $smallSpacing;
}

.sectionTitle {
  @include unselectable;
  text-transform: uppercase;
  margin-bottom: $smallSpacing/2;
  cursor: pointer;
}

.sectionTitle:hover, .videoTitle:hover {
  opacity: 0.6;
}

.sectionVideos {
  display: none;
}

.sectionVideos .active {
  font-weight: 400;
}

.sectionVideos .active:hover {
  opacity: 1;
}

.videoTitle {
  @include unselectable;
  font-style: italic;
  padding-right: 15px;
  padding-left: $smallSpacing;
  padding-bottom: $smallSpacing/2;
  margin: 0;
  cursor: pointer;
}

a:last-child .videoTitle {
  padding-bottom: 0;
}

.menuIcon {
  display: none;
  width: 20px;
  top: 25px;
  left: 20px;
  padding: 10px;
  transition: transform 0.2s;
  cursor: pointer;
}

@media(max-width: $smallScreen){
  .navActive {
    height: 100vh !important;
  }

  .nav {
    width: 100vw;
    left: 0;
    top: 0;
    padding-top: $largeSpacing;
    background-color: white;
    z-index: 100;
    height: 50px;
    transition: height 0.3s;
  }

  .section {
    padding-left: 45px;
  }

  .pageTitle {
    text-align: center;
  }

  .menuIcon {
    display: block;
    position: fixed;
  }

  .menuIconActive {
    transform: rotateZ(90deg) !important;
  }
}
