.videos {
  padding-top: $largeSpacing;
  margin-left: 400px;
  margin-right: 20vw;
}

.mainSection {
  margin-bottom: $largeSpacing * 2;
}

.mainSectionTitle {
  text-transform: uppercase;
  font-weight: 600;
}

.mainVideoTitle {
  margin-bottom: 10px;
}

.mainVideoAccolades {
  margin-bottom: 10px;
}

.mainVideoAccolade {
  @include unselectable;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 70%;
  font-weight: bold;
  padding: 4px 10px 4px 10px;
  margin-right: 6px;
  letter-spacing: 0.3px;
  border-radius: 3px;
  opacity: 0.3;
  cursor: default;
}

.mainVideoDescription {
  font-style: italic;
  font-weight: 300;
  font-size: 150%;
  margin-bottom: 18px;
  opacity: 0.7;
  clear: left;
}

.auto-resizable-iframe {
  max-width: 100%;
  margin: 0px auto;
  margin-bottom: $largeSpacing;
}

.auto-resizable-iframe > div {
  position: relative;
  padding-bottom: 56%;
  height: 0px;
}

.auto-resizable-iframe .videoEmbed {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.videoPlay {
  @include filterShadow(0, 0, 10px, rgba(0, 0, 0, 0.2));
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, filter 0.2s ease;
}

.videoImageImage {
  @include brightness(0.5);
}

.videoImage:hover .videoPlay {
  width: 85px;
  @include filterShadow(0, 0, 15px, rgba(0, 0, 0, 0.2));
}

@media(max-width: $smallScreen){
  .videos{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 50px;
  }

  .mainVideoDescription {
    font-size: 100%;
  }

  .videoPlay {
    width: 50px;
  }

  .videoImage:hover .videoPlay {
    width: 55px;
  }

  .mainSectionTitle {
    font-size: 3.5rem;
  }

  .mainVideoTitle {
    margin-bottom: 0;
  }

  .mainVideoAccolade {
    line-height: 150%;
    margin: 5px 0 5px 0;
    display: block;
    float: left;
    clear: both;
  }

  .mainVideoAccolade:first-child {
    margin-top: 10px;
  }

  .mainVideoAccolade:last-child {
    margin-bottom: 10px;
  }
}
